[Unit]
Description=HealthChecker Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/healthchecker
ExecStart=/opt/healthchecker/HealthChecker
Restart=on-failure
RestartSec=5
EnvironmentFile=-/etc/healthchecker/app.env

[Install]
WantedBy=multi-user.target
